extends layout

block content
  include ./menu.pug
  include ./user.pug
  .ui(style="margin-top:0em;")          
    .ui.top.attached.tabular.three.item.menu
      a.item(href=`/${user.userName}`) リスト
      a.item(href=`/${user.userName}/following`) フォロー
      a.item.active(href=`/${user.userName}/followers`) フォロワー
    .ui.bottom.attached.segment
      .ui.container.text
        if followers.length === 0
          br
          h3.ui.header  現在フォロワーはいません。
          br
        each follower, index in followers
          .ui.divided.unstackable.items
              .item
                .ui.tiny.image
                  - const photoSrc200 = follower.user.photoSrc.replace(/_normal.jpg$/,'_200x200.jpg');
                  img(src=`${photoSrc200}`, alt="プロフィール画像")
                .ui.middle.aligned.content
                  a(href=`/${follower.user.userName}`)
                    h3 #{follower.user.displayName}
                  p #{follower.user.description}
                .extra
                  - const userId = follower.user.userId
                  .follow-button-container(
                    data-api-token= apiToken 
                    data-user-id= userId
                  ).ui.right.floated